*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url('file:///C:/Users/Lenovo/Downloads/ian-schneider-TamMbr4okv4-unsplash.jpg');

	background-size: contain;
}
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

body .container,
body .button,
body .sun,
body .button span {
  position: absolute;
}
body .container {
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 430px;
  width: 200px;
  height: 200px;
  
	
}
body .container a:hover .sun {
  bottom: 176px;
  transition: all 1s ease-in-out;
  box-shadow: 0px 0px 10px #ffdc2a;
}
body .container a:hover .button {
  box-shadow: 0px 0px 36px #c80de0;
  transition: all 1s ease-in-out;
}
body .container .sun {
  width: 64px;
  height: 64px;
  left: 55px;
  bottom: 136px;
  background: linear-gradient(180deg, #ffdc2a 0%, #fb2182 41.54%);
  box-shadow: 0px 0px 36px #ffdc2a;
  z-index: 2;
  border-radius: 65px;
  transition: all 1s ease-in-out;
}
body .container .button {
  width: 171px;
  height: 62px;
  background: #2c0055;
  box-shadow: 0px 0px 16px #c80de0;
  border-radius: 2px;
  z-index: 3;
  letter-spacing: 2px; 
  word-spacing: 6px;
  border: 2px solid;
  transition: all 1s ease-in-out;
  border-image: linear-gradient(#360154, #d442d5) 30;
}
body .container .button span {
  text-align: center;
  font-family: "Sacramento", cursive;
  left: 31px;
  font-size: 25px;
  line-height: 60px;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
  background: -webkit-linear-gradient(#ffdc2a, #fb2182);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

















/*
body:active div,
body:active div::before,
body:active div::after {
  padding: 40px;
}

div,
div::before,
div::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all 5s linear 0s;
  transition: all 5s linear 0s;
}

.purple {
  -webkit-animation: purple linear 30s alternate infinite;
          animation: purple linear 30s alternate infinite;
  border: 2px solid #241379;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  -webkit-transform: translate3d(1vw, 98vh, 0);
          transform: translate3d(1vw, 98vh, 0);
  z-index: 1;
}

.purple::before {
  -webkit-animation: purple-pseudo linear 15s alternate infinite;
          animation: purple-pseudo linear 15s alternate infinite;
  background: #241379;
  border: 2px solid #241379;
  width: 47px;
  height: 43px;
  -webkit-transform: translate3d(3vw, -3vh, 0) rotate(245deg);
          transform: translate3d(3vw, -3vh, 0) rotate(245deg);
}

.purple::after {
  -webkit-animation: purple-pseudo linear 20s alternate infinite;
          animation: purple-pseudo linear 20s alternate infinite;
  border: 2px solid #241379;
  width: 13px;
  height: 33px;
  -webkit-transform: translate3d(54vw, -39vh, 0) rotate(87deg);
          transform: translate3d(54vw, -39vh, 0) rotate(87deg);
}

@-webkit-keyframes purple {
  50% {
    -webkit-transform: translate3d(28vw, 78vh, 0);
            transform: translate3d(28vw, 78vh, 0);
  }
  100% {
    -webkit-transform: translate3d(62vw, 69vh, 0);
            transform: translate3d(62vw, 69vh, 0);
  }
}

@keyframes purple {
  50% {
    -webkit-transform: translate3d(28vw, 78vh, 0);
            transform: translate3d(28vw, 78vh, 0);
  }
  100% {
    -webkit-transform: translate3d(62vw, 69vh, 0);
            transform: translate3d(62vw, 69vh, 0);
  }
}
@-webkit-keyframes purple-pseudo {
  33% {
    -webkit-transform: translate3d(50vw, -47vh, 0) rotate(22deg);
            transform: translate3d(50vw, -47vh, 0) rotate(22deg);
  }
  100% {
    -webkit-transform: translate3d(11vw, 17vh, 0) rotate(53deg);
            transform: translate3d(11vw, 17vh, 0) rotate(53deg);
  }
}
@keyframes purple-pseudo {
  33% {
    -webkit-transform: translate3d(50vw, -47vh, 0) rotate(22deg);
            transform: translate3d(50vw, -47vh, 0) rotate(22deg);
  }
  100% {
    -webkit-transform: translate3d(11vw, 17vh, 0) rotate(53deg);
            transform: translate3d(11vw, 17vh, 0) rotate(53deg);
  }
}
.medium-blue {
  -webkit-animation: medium-blue linear 30s alternate infinite;
          animation: medium-blue linear 30s alternate infinite;
  border: 2px solid #2185bf;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  -webkit-transform: translate3d(84vw, 2vh, 0);
          transform: translate3d(84vw, 2vh, 0);
  z-index: 9;
}

.medium-blue::before {
  -webkit-animation: medium-blue-pseudo linear 15s alternate infinite;
          animation: medium-blue-pseudo linear 15s alternate infinite;
  background: #2185bf;
  border: 2px solid #2185bf;
  width: 21px;
  height: 12px;
  -webkit-transform: translate3d(-41vw, 25vh, 0) rotate(337deg);
          transform: translate3d(-41vw, 25vh, 0) rotate(337deg);
}

.medium-blue::after {
  -webkit-animation: medium-blue-pseudo linear 20s alternate infinite;
          animation: medium-blue-pseudo linear 20s alternate infinite;
  border: 2px solid #2185bf;
  width: 11px;
  height: 28px;
  -webkit-transform: translate3d(2vw, 91vh, 0) rotate(296deg);
          transform: translate3d(2vw, 91vh, 0) rotate(296deg);
}

@-webkit-keyframes medium-blue {
  50% {
    -webkit-transform: translate3d(32vw, 23vh, 0);
            transform: translate3d(32vw, 23vh, 0);
  }
  100% {
    -webkit-transform: translate3d(56vw, 22vh, 0);
            transform: translate3d(56vw, 22vh, 0);
  }
}

@keyframes medium-blue {
  50% {
    -webkit-transform: translate3d(32vw, 23vh, 0);
            transform: translate3d(32vw, 23vh, 0);
  }
  100% {
    -webkit-transform: translate3d(56vw, 22vh, 0);
            transform: translate3d(56vw, 22vh, 0);
  }
}
@-webkit-keyframes medium-blue-pseudo {
  33% {
    -webkit-transform: translate3d(0vw, 38vh, 0) rotate(117deg);
            transform: translate3d(0vw, 38vh, 0) rotate(117deg);
  }
  100% {
    -webkit-transform: translate3d(-19vw, 36vh, 0) rotate(148deg);
            transform: translate3d(-19vw, 36vh, 0) rotate(148deg);
  }
}
@keyframes medium-blue-pseudo {
  33% {
    -webkit-transform: translate3d(0vw, 38vh, 0) rotate(117deg);
            transform: translate3d(0vw, 38vh, 0) rotate(117deg);
  }
  100% {
    -webkit-transform: translate3d(-19vw, 36vh, 0) rotate(148deg);
            transform: translate3d(-19vw, 36vh, 0) rotate(148deg);
  }
}
.light-blue {
  -webkit-animation: light-blue linear 30s alternate infinite;
          animation: light-blue linear 30s alternate infinite;
  border: 2px solid #1fbce1;
  border-radius: 100%;
  width: 11px;
  height: 11px;
  -webkit-transform: translate3d(66vw, 95vh, 0);
          transform: translate3d(66vw, 95vh, 0);
  z-index: 3;
}

.light-blue::before {
  -webkit-animation: light-blue-pseudo linear 15s alternate infinite;
          animation: light-blue-pseudo linear 15s alternate infinite;
  background: #1fbce1;
  border: 2px solid #1fbce1;
  width: 20px;
  height: 11px;
  -webkit-transform: translate3d(18vw, -57vh, 0) rotate(32deg);
          transform: translate3d(18vw, -57vh, 0) rotate(32deg);
}

.light-blue::after {
  -webkit-animation: light-blue-pseudo linear 20s alternate infinite;
          animation: light-blue-pseudo linear 20s alternate infinite;
  border: 2px solid #1fbce1;
  width: 15px;
  height: 49px;
  -webkit-transform: translate3d(-38vw, -73vh, 0) rotate(186deg);
          transform: translate3d(-38vw, -73vh, 0) rotate(186deg);
}

@-webkit-keyframes light-blue {
  50% {
    -webkit-transform: translate3d(20vw, 24vh, 0);
            transform: translate3d(20vw, 24vh, 0);
  }
  100% {
    -webkit-transform: translate3d(24vw, 79vh, 0);
            transform: translate3d(24vw, 79vh, 0);
  }
}

@keyframes light-blue {
  50% {
    -webkit-transform: translate3d(20vw, 24vh, 0);
            transform: translate3d(20vw, 24vh, 0);
  }
  100% {
    -webkit-transform: translate3d(24vw, 79vh, 0);
            transform: translate3d(24vw, 79vh, 0);
  }
}
@-webkit-keyframes light-blue-pseudo {
  33% {
    -webkit-transform: translate3d(54vw, 21vh, 0) rotate(347deg);
            transform: translate3d(54vw, 21vh, 0) rotate(347deg);
  }
  100% {
    -webkit-transform: translate3d(-5vw, -37vh, 0) rotate(277deg);
            transform: translate3d(-5vw, -37vh, 0) rotate(277deg);
  }
}
@keyframes light-blue-pseudo {
  33% {
    -webkit-transform: translate3d(54vw, 21vh, 0) rotate(347deg);
            transform: translate3d(54vw, 21vh, 0) rotate(347deg);
  }
  100% {
    -webkit-transform: translate3d(-5vw, -37vh, 0) rotate(277deg);
            transform: translate3d(-5vw, -37vh, 0) rotate(277deg);
  }
}
.red {
  -webkit-animation: red linear 30s alternate infinite;
          animation: red linear 30s alternate infinite;
  border: 2px solid #b62f56;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  -webkit-transform: translate3d(32vw, 87vh, 0);
          transform: translate3d(32vw, 87vh, 0);
  z-index: 10;
}

.red::before {
  -webkit-animation: red-pseudo linear 15s alternate infinite;
          animation: red-pseudo linear 15s alternate infinite;
  background: #b62f56;
  border: 2px solid #b62f56;
  width: 16px;
  height: 7px;
  -webkit-transform: translate3d(-28vw, -14vh, 0) rotate(304deg);
          transform: translate3d(-28vw, -14vh, 0) rotate(304deg);
}

.red::after {
  -webkit-animation: red-pseudo linear 20s alternate infinite;
          animation: red-pseudo linear 20s alternate infinite;
  border: 2px solid #b62f56;
  width: 18px;
  height: 19px;
  -webkit-transform: translate3d(13vw, 12vh, 0) rotate(285deg);
          transform: translate3d(13vw, 12vh, 0) rotate(285deg);
}

@-webkit-keyframes red {
  50% {
    -webkit-transform: translate3d(46vw, 54vh, 0);
            transform: translate3d(46vw, 54vh, 0);
  }
  100% {
    -webkit-transform: translate3d(80vw, 92vh, 0);
            transform: translate3d(80vw, 92vh, 0);
  }
}

@keyframes red {
  50% {
    -webkit-transform: translate3d(46vw, 54vh, 0);
            transform: translate3d(46vw, 54vh, 0);
  }
  100% {
    -webkit-transform: translate3d(80vw, 92vh, 0);
            transform: translate3d(80vw, 92vh, 0);
  }
}
@-webkit-keyframes red-pseudo {
  33% {
    -webkit-transform: translate3d(-9vw, -40vh, 0) rotate(179deg);
            transform: translate3d(-9vw, -40vh, 0) rotate(179deg);
  }
  100% {
    -webkit-transform: translate3d(-76vw, -55vh, 0) rotate(331deg);
            transform: translate3d(-76vw, -55vh, 0) rotate(331deg);
  }
}
@keyframes red-pseudo {
  33% {
    -webkit-transform: translate3d(-9vw, -40vh, 0) rotate(179deg);
            transform: translate3d(-9vw, -40vh, 0) rotate(179deg);
  }
  100% {
    -webkit-transform: translate3d(-76vw, -55vh, 0) rotate(331deg);
            transform: translate3d(-76vw, -55vh, 0) rotate(331deg);
  }
}
.orange {
  -webkit-animation: orange linear 30s alternate infinite;
          animation: orange linear 30s alternate infinite;
  border: 2px solid #d5764c;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  -webkit-transform: translate3d(15vw, 6vh, 0);
          transform: translate3d(15vw, 6vh, 0);
  z-index: 5;
}

.orange::before {
  -webkit-animation: orange-pseudo linear 15s alternate infinite;
          animation: orange-pseudo linear 15s alternate infinite;
  background: #d5764c;
  border: 2px solid #d5764c;
  width: 47px;
  height: 30px;
  -webkit-transform: translate3d(48vw, 86vh, 0) rotate(191deg);
          transform: translate3d(48vw, 86vh, 0) rotate(191deg);
}

.orange::after {
  -webkit-animation: orange-pseudo linear 20s alternate infinite;
          animation: orange-pseudo linear 20s alternate infinite;
  border: 2px solid #d5764c;
  width: 47px;
  height: 13px;
  -webkit-transform: translate3d(41vw, -3vh, 0) rotate(85deg);
          transform: translate3d(41vw, -3vh, 0) rotate(85deg);
}

@-webkit-keyframes orange {
  50% {
    -webkit-transform: translate3d(7vw, 1vh, 0);
            transform: translate3d(7vw, 1vh, 0);
  }
  100% {
    -webkit-transform: translate3d(72vw, 40vh, 0);
            transform: translate3d(72vw, 40vh, 0);
  }
}

@keyframes orange {
  50% {
    -webkit-transform: translate3d(7vw, 1vh, 0);
            transform: translate3d(7vw, 1vh, 0);
  }
  100% {
    -webkit-transform: translate3d(72vw, 40vh, 0);
            transform: translate3d(72vw, 40vh, 0);
  }
}
@-webkit-keyframes orange-pseudo {
  33% {
    -webkit-transform: translate3d(92vw, 72vh, 0) rotate(104deg);
            transform: translate3d(92vw, 72vh, 0) rotate(104deg);
  }
  100% {
    -webkit-transform: translate3d(22vw, -35vh, 0) rotate(195deg);
            transform: translate3d(22vw, -35vh, 0) rotate(195deg);
  }
}
@keyframes orange-pseudo {
  33% {
    -webkit-transform: translate3d(92vw, 72vh, 0) rotate(104deg);
            transform: translate3d(92vw, 72vh, 0) rotate(104deg);
  }
  100% {
    -webkit-transform: translate3d(22vw, -35vh, 0) rotate(195deg);
            transform: translate3d(22vw, -35vh, 0) rotate(195deg);
  }
}
.yellow {
  -webkit-animation: yellow linear 30s alternate infinite;
          animation: yellow linear 30s alternate infinite;
  border: 2px solid #ffd53e;
  border-radius: 100%;
  width: 29px;
  height: 29px;
  -webkit-transform: translate3d(13vw, 6vh, 0);
          transform: translate3d(13vw, 6vh, 0);
  z-index: 4;
}

.yellow::before {
  -webkit-animation: yellow-pseudo linear 15s alternate infinite;
          animation: yellow-pseudo linear 15s alternate infinite;
  background: #ffd53e;
  border: 2px solid #ffd53e;
  width: 17px;
  height: 46px;
  -webkit-transform: translate3d(85vw, -2vh, 0) rotate(63deg);
          transform: translate3d(85vw, -2vh, 0) rotate(63deg);
}

.yellow::after {
  -webkit-animation: yellow-pseudo linear 20s alternate infinite;
          animation: yellow-pseudo linear 20s alternate infinite;
  border: 2px solid #ffd53e;
  width: 21px;
  height: 26px;
  -webkit-transform: translate3d(48vw, 7vh, 0) rotate(267deg);
          transform: translate3d(48vw, 7vh, 0) rotate(267deg);
}

@-webkit-keyframes yellow {
  50% {
    -webkit-transform: translate3d(100vw, 16vh, 0);
            transform: translate3d(100vw, 16vh, 0);
  }
  100% {
    -webkit-transform: translate3d(78vw, 75vh, 0);
            transform: translate3d(78vw, 75vh, 0);
  }
}

@keyframes yellow {
  50% {
    -webkit-transform: translate3d(100vw, 16vh, 0);
            transform: translate3d(100vw, 16vh, 0);
  }
  100% {
    -webkit-transform: translate3d(78vw, 75vh, 0);
            transform: translate3d(78vw, 75vh, 0);
  }
}
@-webkit-keyframes yellow-pseudo {
  33% {
    -webkit-transform: translate3d(-94vw, -16vh, 0) rotate(46deg);
            transform: translate3d(-94vw, -16vh, 0) rotate(46deg);
  }
  100% {
    -webkit-transform: translate3d(-46vw, -22vh, 0) rotate(331deg);
            transform: translate3d(-46vw, -22vh, 0) rotate(331deg);
  }
}
@keyframes yellow-pseudo {
  33% {
    -webkit-transform: translate3d(-94vw, -16vh, 0) rotate(46deg);
            transform: translate3d(-94vw, -16vh, 0) rotate(46deg);
  }
  100% {
    -webkit-transform: translate3d(-46vw, -22vh, 0) rotate(331deg);
            transform: translate3d(-46vw, -22vh, 0) rotate(331deg);
  }
}
.cyan {
  -webkit-animation: cyan linear 30s alternate infinite;
          animation: cyan linear 30s alternate infinite;
  border: 2px solid #78ffba;
  border-radius: 100%;
  width: 49px;
  height: 49px;
  -webkit-transform: translate3d(76vw, 21vh, 0);
          transform: translate3d(76vw, 21vh, 0);
  z-index: 12;
}

.cyan::before {
  -webkit-animation: cyan-pseudo linear 15s alternate infinite;
          animation: cyan-pseudo linear 15s alternate infinite;
  background: #78ffba;
  border: 2px solid #78ffba;
  width: 33px;
  height: 39px;
  -webkit-transform: translate3d(-15vw, -8vh, 0) rotate(130deg);
          transform: translate3d(-15vw, -8vh, 0) rotate(130deg);
}

.cyan::after {
  -webkit-animation: cyan-pseudo linear 20s alternate infinite;
          animation: cyan-pseudo linear 20s alternate infinite;
  border: 2px solid #78ffba;
  width: 47px;
  height: 10px;
  -webkit-transform: translate3d(-73vw, -12vh, 0) rotate(335deg);
          transform: translate3d(-73vw, -12vh, 0) rotate(335deg);
}

@-webkit-keyframes cyan {
  50% {
    -webkit-transform: translate3d(80vw, 15vh, 0);
            transform: translate3d(80vw, 15vh, 0);
  }
  100% {
    -webkit-transform: translate3d(33vw, 81vh, 0);
            transform: translate3d(33vw, 81vh, 0);
  }
}

@keyframes cyan {
  50% {
    -webkit-transform: translate3d(80vw, 15vh, 0);
            transform: translate3d(80vw, 15vh, 0);
  }
  100% {
    -webkit-transform: translate3d(33vw, 81vh, 0);
            transform: translate3d(33vw, 81vh, 0);
  }
}
@-webkit-keyframes cyan-pseudo {
  33% {
    -webkit-transform: translate3d(19vw, 66vh, 0) rotate(82deg);
            transform: translate3d(19vw, 66vh, 0) rotate(82deg);
  }
  100% {
    -webkit-transform: translate3d(19vw, -40vh, 0) rotate(312deg);
            transform: translate3d(19vw, -40vh, 0) rotate(312deg);
  }
}
@keyframes cyan-pseudo {
  33% {
    -webkit-transform: translate3d(19vw, 66vh, 0) rotate(82deg);
            transform: translate3d(19vw, 66vh, 0) rotate(82deg);
  }
  100% {
    -webkit-transform: translate3d(19vw, -40vh, 0) rotate(312deg);
            transform: translate3d(19vw, -40vh, 0) rotate(312deg);
  }
}
.light-green {
  -webkit-animation: light-green linear 30s alternate infinite;
          animation: light-green linear 30s alternate infinite;
  border: 2px solid #98fd85;
  border-radius: 100%;
  width: 43px;
  height: 43px;
  -webkit-transform: translate3d(46vw, 53vh, 0);
          transform: translate3d(46vw, 53vh, 0);
  z-index: 9;
}

.light-green::before {
  -webkit-animation: light-green-pseudo linear 15s alternate infinite;
          animation: light-green-pseudo linear 15s alternate infinite;
  background: #98fd85;
  border: 2px solid #98fd85;
  width: 30px;
  height: 44px;
  -webkit-transform: translate3d(-20vw, -33vh, 0) rotate(276deg);
          transform: translate3d(-20vw, -33vh, 0) rotate(276deg);
}

.light-green::after {
  -webkit-animation: light-green-pseudo linear 20s alternate infinite;
          animation: light-green-pseudo linear 20s alternate infinite;
  border: 2px solid #98fd85;
  width: 47px;
  height: 40px;
  -webkit-transform: translate3d(3vw, 36vh, 0) rotate(100deg);
          transform: translate3d(3vw, 36vh, 0) rotate(100deg);
}

@-webkit-keyframes light-green {
  50% {
    -webkit-transform: translate3d(52vw, 63vh, 0);
            transform: translate3d(52vw, 63vh, 0);
  }
  100% {
    -webkit-transform: translate3d(67vw, 20vh, 0);
            transform: translate3d(67vw, 20vh, 0);
  }
}

@keyframes light-green {
  50% {
    -webkit-transform: translate3d(52vw, 63vh, 0);
            transform: translate3d(52vw, 63vh, 0);
  }
  100% {
    -webkit-transform: translate3d(67vw, 20vh, 0);
            transform: translate3d(67vw, 20vh, 0);
  }
}
@-webkit-keyframes light-green-pseudo {
  33% {
    -webkit-transform: translate3d(42vw, -42vh, 0) rotate(242deg);
            transform: translate3d(42vw, -42vh, 0) rotate(242deg);
  }
  100% {
    -webkit-transform: translate3d(0vw, 78vh, 0) rotate(316deg);
            transform: translate3d(0vw, 78vh, 0) rotate(316deg);
  }
}
@keyframes light-green-pseudo {
  33% {
    -webkit-transform: translate3d(42vw, -42vh, 0) rotate(242deg);
            transform: translate3d(42vw, -42vh, 0) rotate(242deg);
  }
  100% {
    -webkit-transform: translate3d(0vw, 78vh, 0) rotate(316deg);
            transform: translate3d(0vw, 78vh, 0) rotate(316deg);
  }
}
.lime {
  -webkit-animation: lime linear 30s alternate infinite;
          animation: lime linear 30s alternate infinite;
  border: 2px solid #befb46;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  -webkit-transform: translate3d(46vw, 70vh, 0);
          transform: translate3d(46vw, 70vh, 0);
  z-index: 6;
}

.lime::before {
  -webkit-animation: lime-pseudo linear 15s alternate infinite;
          animation: lime-pseudo linear 15s alternate infinite;
  background: #befb46;
  border: 2px solid #befb46;
  width: 10px;
  height: 21px;
  -webkit-transform: translate3d(10vw, 3vh, 0) rotate(175deg);
          transform: translate3d(10vw, 3vh, 0) rotate(175deg);
}

.lime::after {
  -webkit-animation: lime-pseudo linear 20s alternate infinite;
          animation: lime-pseudo linear 20s alternate infinite;
  border: 2px solid #befb46;
  width: 19px;
  height: 35px;
  -webkit-transform: translate3d(43vw, -31vh, 0) rotate(263deg);
          transform: translate3d(43vw, -31vh, 0) rotate(263deg);
}

@-webkit-keyframes lime {
  50% {
    -webkit-transform: translate3d(98vw, 7vh, 0);
            transform: translate3d(98vw, 7vh, 0);
  }
  100% {
    -webkit-transform: translate3d(83vw, 100vh, 0);
            transform: translate3d(83vw, 100vh, 0);
  }
}

@keyframes lime {
  50% {
    -webkit-transform: translate3d(98vw, 7vh, 0);
            transform: translate3d(98vw, 7vh, 0);
  }
  100% {
    -webkit-transform: translate3d(83vw, 100vh, 0);
            transform: translate3d(83vw, 100vh, 0);
  }
}
@-webkit-keyframes lime-pseudo {
  33% {
    -webkit-transform: translate3d(-76vw, 7vh, 0) rotate(183deg);
            transform: translate3d(-76vw, 7vh, 0) rotate(183deg);
  }
  100% {
    -webkit-transform: translate3d(-34vw, -8vh, 0) rotate(352deg);
            transform: translate3d(-34vw, -8vh, 0) rotate(352deg);
  }
}
@keyframes lime-pseudo {
  33% {
    -webkit-transform: translate3d(-76vw, 7vh, 0) rotate(183deg);
            transform: translate3d(-76vw, 7vh, 0) rotate(183deg);
  }
  100% {
    -webkit-transform: translate3d(-34vw, -8vh, 0) rotate(352deg);
            transform: translate3d(-34vw, -8vh, 0) rotate(352deg);
  }
}
.magenta {
  -webkit-animation: magenta linear 30s alternate infinite;
          animation: magenta linear 30s alternate infinite;
  border: 2px solid #6c046c;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  -webkit-transform: translate3d(42vw, 15vh, 0);
          transform: translate3d(42vw, 15vh, 0);
  z-index: 10;
}

.magenta::before {
  -webkit-animation: magenta-pseudo linear 15s alternate infinite;
          animation: magenta-pseudo linear 15s alternate infinite;
  background: #6c046c;
  border: 2px solid #6c046c;
  width: 12px;
  height: 32px;
  -webkit-transform: translate3d(22vw, 31vh, 0) rotate(142deg);
          transform: translate3d(22vw, 31vh, 0) rotate(142deg);
}

.magenta::after {
  -webkit-animation: magenta-pseudo linear 20s alternate infinite;
          animation: magenta-pseudo linear 20s alternate infinite;
  border: 2px solid #6c046c;
  width: 22px;
  height: 30px;
  -webkit-transform: translate3d(-4vw, 10vh, 0) rotate(81deg);
          transform: translate3d(-4vw, 10vh, 0) rotate(81deg);
}

@-webkit-keyframes magenta {
  50% {
    -webkit-transform: translate3d(26vw, 29vh, 0);
            transform: translate3d(26vw, 29vh, 0);
  }
  100% {
    -webkit-transform: translate3d(71vw, 18vh, 0);
            transform: translate3d(71vw, 18vh, 0);
  }
}

@keyframes magenta {
  50% {
    -webkit-transform: translate3d(26vw, 29vh, 0);
            transform: translate3d(26vw, 29vh, 0);
  }
  100% {
    -webkit-transform: translate3d(71vw, 18vh, 0);
            transform: translate3d(71vw, 18vh, 0);
  }
}
@-webkit-keyframes magenta-pseudo {
  33% {
    -webkit-transform: translate3d(65vw, -24vh, 0) rotate(332deg);
            transform: translate3d(65vw, -24vh, 0) rotate(332deg);
  }
  100% {
    -webkit-transform: translate3d(-19vw, 11vh, 0) rotate(333deg);
            transform: translate3d(-19vw, 11vh, 0) rotate(333deg);
  }
}
@keyframes magenta-pseudo {
  33% {
    -webkit-transform: translate3d(65vw, -24vh, 0) rotate(332deg);
            transform: translate3d(65vw, -24vh, 0) rotate(332deg);
  }
  100% {
    -webkit-transform: translate3d(-19vw, 11vh, 0) rotate(333deg);
            transform: translate3d(-19vw, 11vh, 0) rotate(333deg);
  }
}
.lightish-red {
  -webkit-animation: lightish-red linear 30s alternate infinite;
          animation: lightish-red linear 30s alternate infinite;
  border: 2px solid #f04c81;
  border-radius: 100%;
  width: 11px;
  height: 11px;
  -webkit-transform: translate3d(17vw, 98vh, 0);
          transform: translate3d(17vw, 98vh, 0);
  z-index: 2;
}

.lightish-red::before {
  -webkit-animation: lightish-red-pseudo linear 15s alternate infinite;
          animation: lightish-red-pseudo linear 15s alternate infinite;
  background: #f04c81;
  border: 2px solid #f04c81;
  width: 7px;
  height: 30px;
  -webkit-transform: translate3d(35vw, -75vh, 0) rotate(359deg);
          transform: translate3d(35vw, -75vh, 0) rotate(359deg);
}

.lightish-red::after {
  -webkit-animation: lightish-red-pseudo linear 20s alternate infinite;
          animation: lightish-red-pseudo linear 20s alternate infinite;
  border: 2px solid #f04c81;
  width: 27px;
  height: 43px;
  -webkit-transform: translate3d(51vw, -87vh, 0) rotate(112deg);
          transform: translate3d(51vw, -87vh, 0) rotate(112deg);
}

@-webkit-keyframes lightish-red {
  50% {
    -webkit-transform: translate3d(65vw, 11vh, 0);
            transform: translate3d(65vw, 11vh, 0);
  }
  100% {
    -webkit-transform: translate3d(77vw, 85vh, 0);
            transform: translate3d(77vw, 85vh, 0);
  }
}

@keyframes lightish-red {
  50% {
    -webkit-transform: translate3d(65vw, 11vh, 0);
            transform: translate3d(65vw, 11vh, 0);
  }
  100% {
    -webkit-transform: translate3d(77vw, 85vh, 0);
            transform: translate3d(77vw, 85vh, 0);
  }
}
@-webkit-keyframes lightish-red-pseudo {
  33% {
    -webkit-transform: translate3d(-11vw, 4vh, 0) rotate(128deg);
            transform: translate3d(-11vw, 4vh, 0) rotate(128deg);
  }
  100% {
    -webkit-transform: translate3d(20vw, -53vh, 0) rotate(144deg);
            transform: translate3d(20vw, -53vh, 0) rotate(144deg);
  }
}
@keyframes lightish-red-pseudo {
  33% {
    -webkit-transform: translate3d(-11vw, 4vh, 0) rotate(128deg);
            transform: translate3d(-11vw, 4vh, 0) rotate(128deg);
  }
  100% {
    -webkit-transform: translate3d(20vw, -53vh, 0) rotate(144deg);
            transform: translate3d(20vw, -53vh, 0) rotate(144deg);
  }
}
.pink {
  -webkit-animation: pink linear 30s alternate infinite;
          animation: pink linear 30s alternate infinite;
  border: 2px solid #ff4293;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  -webkit-transform: translate3d(99vw, 13vh, 0);
          transform: translate3d(99vw, 13vh, 0);
  z-index: 6;
}

.pink::before {
  -webkit-animation: pink-pseudo linear 15s alternate infinite;
          animation: pink-pseudo linear 15s alternate infinite;
  background: #ff4293;
  border: 2px solid #ff4293;
  width: 17px;
  height: 26px;
  -webkit-transform: translate3d(-97vw, -1vh, 0) rotate(114deg);
          transform: translate3d(-97vw, -1vh, 0) rotate(114deg);
}

.pink::after {
  -webkit-animation: pink-pseudo linear 20s alternate infinite;
          animation: pink-pseudo linear 20s alternate infinite;
  border: 2px solid #ff4293;
  width: 36px;
  height: 22px;
  -webkit-transform: translate3d(-19vw, -13vh, 0) rotate(74deg);
          transform: translate3d(-19vw, -13vh, 0) rotate(74deg);
}

@-webkit-keyframes pink {
  50% {
    -webkit-transform: translate3d(21vw, 78vh, 0);
            transform: translate3d(21vw, 78vh, 0);
  }
  100% {
    -webkit-transform: translate3d(44vw, 70vh, 0);
            transform: translate3d(44vw, 70vh, 0);
  }
}

@keyframes pink {
  50% {
    -webkit-transform: translate3d(21vw, 78vh, 0);
            transform: translate3d(21vw, 78vh, 0);
  }
  100% {
    -webkit-transform: translate3d(44vw, 70vh, 0);
            transform: translate3d(44vw, 70vh, 0);
  }
}
@-webkit-keyframes pink-pseudo {
  33% {
    -webkit-transform: translate3d(59vw, -68vh, 0) rotate(21deg);
            transform: translate3d(59vw, -68vh, 0) rotate(21deg);
  }
  100% {
    -webkit-transform: translate3d(-37vw, -70vh, 0) rotate(190deg);
            transform: translate3d(-37vw, -70vh, 0) rotate(190deg);
  }
}
@keyframes pink-pseudo {
  33% {
    -webkit-transform: translate3d(59vw, -68vh, 0) rotate(21deg);
            transform: translate3d(59vw, -68vh, 0) rotate(21deg);
  }
  100% {
    -webkit-transform: translate3d(-37vw, -70vh, 0) rotate(190deg);
            transform: translate3d(-37vw, -70vh, 0) rotate(190deg);
  }
}*/






































.dv1{
      text-align: center;
      height: 15vh;
     
      

}

.dv2{ 
	height: 42vh ;
	display: inline-flex;
  
      
}
	


.dv2 h3{
	color: #130f40;
	font-family: 'Pacifico', cursive ;
	font-size: 27pt;
	padding-left: 310px;
	padding-top: 31px;
	text-shadow:  2px 1px 1px #F79F1F, 3px 2px 2px #F79F1F, 2px 2px 1px #F79F1F;
	float: left;


}

.dv2 p{
	font-family: 'Questrial', sans serif;
	color:#2c3e50;
	font-size: 16pt;
	padding-left: 170px;
	text-shadow: 2px 1px 3px #B53471,  2px 1px 3px #B53471;
	font-weight: bolder;
	letter-spacing: 2px;
	word-spacing: 5px;
	float:;
	padding-top: 70px;


}
.dv2 img{
	float: right;
	margin-left: 300px;
	 border-radius:50%;
	 transition: 1.3s ease;
	 border: 4px black solid;
	 margin-top: 60px;


}
.dv21 {
}
.dv2 img:hover{
     height: 220px;
     width:220px ;
	 border-radius:2%;
	 border: 0 transparent solid;

}

.dv3{ 
	height: 38vh ;
	display: inline-flex;
	
      
	

	
}

.dv3 h3{
	color:#130f40 ;
	font-family: 'Pacifico', cursive ;
	font-size: 27pt;
	float: ;
	margin-left: 420px;
	text-shadow:  2px 1px 1px #F79F1F, 3px 2px 2px #F79F1F, 2px 2px 1px #F79F1F;

}
.dv3 p{
	font-family: 'Questrial', sans serif;
	color:#2c3e50 ;
	font-size: 16pt;
	float: right;
	padding-top: 10px;
	margin-left: 380px;
	text-shadow: 2px 1px 3px #B53471,  2px 1px 3px #B53471;
	font-weight: bolder;
	letter-spacing: 2px;
	word-spacing: 5px;


}
.dv3 img{
	float: left;
	margin-left: 200px;
	 border-radius:50%;
	 transition: 1.3s ease;
	 border: 4px black solid;

}
.dv3 img:hover{
     height: 220px;
     width:220px ;
	 border-radius:2%;
	  border: 0 transparent solid;

}
.dv4{ 
	height: 42vh ;
	display: inline-flex;
 
      
	
}
.dv4 h3{
	color:#130f40 ;
	font-family:'Pacifico', cursive ;
	font-size: 27pt;
	padding-left: 370px;
	text-shadow: 2px 1px 1px #F79F1F, 3px 2px 2px #F79F1F, 2px 2px 1px #F79F1F;


}
.dv4 p{
	font-family: 'Questrial', sans serif;
	color:#2c3e50 ;
	font-size: 16pt;
	padding-left: 190px;
	text-shadow: 2px 1px 3px #B53471,  2px 1px 3px #B53471;
	font-weight: bolder;
	letter-spacing: 2px;
	word-spacing: 5px;


}
.dv4 img{
	float: right;
	margin-left: 450px;
	 border-radius:50%;
	 transition: 1.3s ease;
	 border: 4px black solid;

}
.dv4 img:hover{
     height: 220px;
     width:220px ;
	 border-radius:2%;
	  border: 0 transparent solid;

}